main{display: grid;
     grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: " hd hd hd"
               ". ha ."
               ". aa ."
               "foot foot foot";
 }
 body{background-image:url(img/01.jpg); background-repeat:no-repeat;background-size:cover;background-position:center;}
 .home{display: grid;
     grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    row-gap:1vw ;
    grid-template-areas: " hd hd hd"
               "sa sa sa"
               ". aa ."
               " news news news "
               "foot foot foot";
 }
 .news{grid-area: news;}
 @media(max-width:768px){
     main{grid-template-columns: 1fr;
     grid-template-areas: "hd"
                          "ha"
                          "aa"
                          "foot";
                         gap: 2vw;}
 }

 .slider-area{grid-area: sa;height: 45vw;width: 100%;margin-top: -3vw;}
 header{grid-area: hd;position: absolute;top: 0;width: 100%;}
 .hero-area2{grid-area: ha;height: 16vw;margin-top: 2vw;}
 .about-area, .blog_area{grid-area: aa;}

 footer{grid-area: foot;}
 h1{font-size: 10vw;color:wheat}
 .maintitle{text-align: center;margin-top:16vw;}
h2{font-size: 2vw;color:white;}
h3{font-size: 0.7vw;color:white;}
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #fdfcfc;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  text-transform: normal;
}
h1{text-align: center;color: #fff;}

/* line 24, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
p {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: 300;
}
.newstitle{color:#965c10;}
.news-text{margin: 3vw 0 0 0;line-height: 1.4vw;}
.morebtn{ float: left;margin: 2vw 0;padding: 1vw 1.5vw;background-color:#965c10;}
/* scrollUp */
/* line 442, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
#scrollUp, #back-top {
     background: #965c10;
     height: 50px;
     width: 50px;
     right: 31px;
     bottom: 18px;
     position: fixed;
     color: #fff;
     font-size: 20px;
     text-align: center;
     border-radius: 50%;
     line-height: 48px;
     border: 2px solid transparent;
     box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
   }
   
   @media (max-width: 575px) {
     /* line 442, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     #scrollUp, #back-top {
       right: 16px;
     }
   }
   
   /* line 459, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   #scrollUp a i, #back-top a i {
     display: block;
     line-height: 50px;
   }
   
   /* line 466, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   #scrollUp:hover {
     color: #fff;
   }
   
   /* Sticky*/
   /* line 471, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .sticky-bar {
     left: 0;
     margin: auto;
     position: fixed;
     top: 0;
     width: 100%;
     -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
     box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
     z-index: 9999;
     -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
     animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
     -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
     background: #e6b720;
   }



   
/* 20. preloader */
/* line 617, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
.preloader {
     background-color: #f7f7f7;
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 999999;
     -webkit-transition: .6s;
     -o-transition: .6s;
     transition: .6s;
     margin: 0 auto;
   }
   
   /* line 633, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .preloader .preloader-circle {
     width: 100px;
     height: 100px;
     position: relative;
     border-style: solid;
     border-width: 1px;
     border-top-color: #965c10;
     border-bottom-color: transparent;
     border-left-color: transparent;
     border-right-color: transparent;
     z-index: 10;
     border-radius: 50%;
     -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
     box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
     background-color: #fff;
     -webkit-animation: zoom 2000ms infinite ease;
     animation: zoom 2000ms infinite ease;
     -webkit-transition: .6s;
     -o-transition: .6s;
     transition: .6s;
   }
   
   /* line 655, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .preloader .preloader-circle2 {
     border-top-color: #0078ff;
   }
   
   /* line 658, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .preloader .preloader-img {
     position: absolute;
     top: 50%;
     z-index: 200;
     left: 0;
     right: 0;
     margin: 0 auto;
     text-align: center;
     display: inline-block;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding-top: 6px;
     -webkit-transition: .6s;
     -o-transition: .6s;
     transition: .6s;
   }
   
   /* line 676, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .preloader .preloader-img img {
     max-width: 55px;
   }
   
   /* line 679, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .preloader .pere-text strong {
     font-weight: 800;
     color: #dca73a;
     text-transform: uppercase;
   }
   
   @-webkit-keyframes zoom {
     0% {
       -webkit-transform: rotate(0deg);
       transform: rotate(0deg);
       -webkit-transition: .6s;
       -o-transition: .6s;
       transition: .6s;
     }
     100% {
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
       -webkit-transition: .6s;
       -o-transition: .6s;
       transition: .6s;
     }
   }
   
   @keyframes zoom {
     0% {
       -webkit-transform: rotate(0deg);
       transform: rotate(0deg);
       -webkit-transition: .6s;
       -o-transition: .6s;
       transition: .6s;
     }
     100% {
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
       -webkit-transition: .6s;
       -o-transition: .6s;
       transition: .6s;
     }
   }


   

@media (max-width: 575px) {
     /* line 929, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle {
       margin-bottom: 50px;
       text-align: left !important;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 929, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle {
       margin-bottom: 50px;
     }
   }
   
   /* line 937, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .section-tittle p {
     color: #7a8290;
   }
   
   /* line 940, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .section-tittle > span {
     color: #140C40;
     font-size: 20px;
     font-weight: 400;
     margin-bottom: 22px;
     text-transform: capitalize;
     display: inline-block;
     letter-spacing: 0.05em;
   }
   
   @media (max-width: 575px) {
     /* line 940, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle > span {
       font-size: 14px;
       padding-left: 0px;
       text-align: left;
     }
   }
   
   /* line 955, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .section-tittle h2 {
     font-size: 120px;
     display: block;
     font-weight: 900;
     line-height: 1.4;
     margin-bottom: 22px;
     color: #965c10;}
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 955, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle h2 {
       font-size: 41px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 955, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle h2 {
       font-size: 62px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 955, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle h2 {
       font-size: 31px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 955, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle h2 {
       text-align: left;
       font-size: 28px;
     }
   }
   
   /* line 979, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .section-tittle2 p {
     color: #fff;
   }
   
   /* line 982, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
   .section-tittle2 h2 {
     color: #fff;
     font-size: 80px;
     font-weight: 300;
   }
   
   @media (max-width: 575px) {
     /* line 982, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .section-tittle2 h2 {
       font-size: 45px;
     }
   }
   
   header{background-color:transparent;}
   
   /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .main-header {
     padding: 0 85px;
   }
   
   
   
   @media only screen and (min-width: 1200px) and (max-width: 1600px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding: 0 60px;
     }
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding: 0 20px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding: 0 30px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding: 0 30px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding: 0 15px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding-top: 16px;
       padding-bottom: 21px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding-top: 16px;
       padding-bottom: 21px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .main-header {
       padding-top: 16px;
       padding-bottom: 21px;
     }
   }
   
   /* line 37, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper {
     display: flex;
     align-content: center;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
   }
   
   @media only screen and (min-width: 1200px) and (max-width: 1600px) {
     /* line 45, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .menu-wrapper .main-menu {
       margin-right: 30px;
     }
   }
   
   /* line 50, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul li {
     display: inline-block;
     position: relative;
     z-index: 1;
   }
   
   /* line 54, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul li a {
     color: #f7f1f1;
     font-weight: 400;
     padding: 39px 19px;
     display: block;
     font-size: 16px;
     font-family: "Poppins", sans-serif;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
     text-transform: capitalize;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 54, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-area .menu-wrapper .main-menu ul li a {
       padding: 39px 17px;
     }
   }
   
   /* line 67, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul li.active::before {
     position: absolute;
     content: "";
     width: 58px;
     height: 2px;
     background: #f1efeb;
     bottom: 26px;
     margin: 0 auto;
     left: 3px;
     right: 0;
   }
   
   /* line 80, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul li:hover > a {
     color: #e7e5e2;
   }
   
   /* line 84, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul li:hover > ul.submenu {
     visibility: visible;
     opacity: 1;
     top: 100%;
   }
   
   /* line 90, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul ul.submenu {
     position: absolute;
     width: 170px;
     background: #965c10;
     left: 0;
     top: 90%;
     visibility: hidden;
     opacity: 0;
     box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
     padding: 17px 0;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
   }
   
   /* line 102, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul ul.submenu > li {
     margin-left: 7px;
     display: block;
   }
   
   /* line 105, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul ul.submenu > li > a {
     padding: 6px 10px !important;
     font-size: 16px;
     color: #fdfdfd;
   }
   
   /* line 109, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-area .menu-wrapper .main-menu ul ul.submenu > li > a:hover {
     color: #fff;
     background: none;
     padding-left: 13px !important;
   }
   
   /* line 127, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-sticky.sticky-bar {
     background:#965c10}
   
   /* line 133, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .header-sticky.sticky-bar.sticky .main-menu ul li a {
     padding: 20px 20px !important;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 129, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-sticky.sticky-bar.sticky {
       padding: 15px 0px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 129, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-sticky.sticky-bar.sticky {
       padding: 15px 0px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 129, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
     .header-sticky.sticky-bar.sticky {
       padding: 15px 0px;
     }
   }
   
   /* line 154, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu {
     position: absolute;
     right: 0px;
     width: 100%;
     z-index: 99;
   }
   
   /* line 159, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu {
     background: transparent;
     margin-top: 0px !important;
   }
   
   /* line 162, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu .slicknav_btn {
     top: -29px;
   }
   
   /* line 165, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
     background-color: #965c10 !important;
   }
   
   /* line 169, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu .slicknav_nav {
     margin-top: 15px !important;
   }
   
   /* line 172, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu .slicknav_nav a:hover {
     background: transparent;
     color: #965c10;
   }
   
   /* line 176, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu .slicknav_nav a {
     font-size: 15px;
     padding: 7px 10px;
   }
   
   /* line 181, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_headerMenu.scss */
   .mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
     padding: 0 !important;
   }
   
   

@media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 148, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_h1-hero.scss */
     .hero-area2 {
       min-height: 300px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 148, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_h1-hero.scss */
     .hero-area2 {
       min-height: 300px;
     }
   }
   
   /* line 161, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_h1-hero.scss */
   .hero-area2 .hero-cap h2 {
     font-size: 30px;
     font-weight: 300;
     text-transform: capitalize;
   }
   
   
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 161, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_h1-hero.scss */
     .hero-area2 .hero-cap h2 {
       font-size: 43px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 161, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_h1-hero.scss */
     .hero-area2 .hero-cap h2 {
       font-size: 32px;
     }
   }
   
   /* line 1, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area {
     background: #ffff;
     position: relative;
     margin-right: 100px;
     position: relative;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 1, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area {
       margin-right: 50px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 1, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area {
       margin-right: 50px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 1, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area {
       margin-right: 0px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 1, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area {
       margin-right: 0px;
     }
   }
   
   /* line 19, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area::before {
     position: absolute;
     content: "";
     width: 100%;
     height: 27%;
     z-index: -1;
     top: 0;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 19, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area::before {
       height: 15%;
       right: -50px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 19, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area::before {
       height: 15%;
       right: -50px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 19, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area::before {
       right: 0px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 19, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area::before {
       right: 0px;
     }
   }
   
   /* line 44, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .about-caption p {
     font-size: 16px;
     line-height: 1.6;
     margin-bottom: 35px;
     padding-right: 50px;
     font-weight: 300;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 44, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-caption p {
       padding-right: 20px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 44, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-caption p {
       padding-right: 0px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 44, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-caption p {
       padding-right: 0px;
     }
   }
   
   /* line 64, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .about-img img {
     width: 100%;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 63, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-img {
       padding-top: 50px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 63, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-img {
       padding-top: 50px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 63, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-img {
       padding-top: 50px;
     }
   }
   
   /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .experience span {
     color: #965c10;
     font-size: 60px;
     margin-bottom: 18px;
     display: block;
     font-weight: 500;
   }
   
   @media only screen and (min-width: 1200px) and (max-width: 1600px) {
     /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .experience span {
       font-size: 52px;
     }
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .experience span {
       font-size: 42px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .experience span {
       font-size: 33px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .experience span {
       font-size: 45px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .experience span {
       font-size: 33px;
     }
   }
   
   /* line 106, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .about-right-cap {
     margin-bottom: 100px;
   }
   
   @media (max-width: 575px) {
     /* line 106, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap {
       padding-top: 50px;
       margin-bottom: 0px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 106, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap {
       padding-top: 50px;
       margin-bottom: 0px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 106, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap {
       padding-top: 50px;
       margin-bottom: 0px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 106, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap {
       padding-top: 50px;
       margin-bottom: 0px;
     }
   }
   
   /* line 125, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .about-right-cap .about-right-img img {
     width: 100%;
     margin-bottom: 15px;
   }
   
   /* line 130, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .about-right-cap p {
     font-size: 22px;
     color: #140C40;
     font-weight: 300;
     padding-right: 13px;
     line-height: 1.5;
   }
   
   /* line 137, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
   .about-area .about-right-cap .about-right-cap2 {
     margin-bottom: 0px;
   }
   
   @media (max-width: 575px) {
     /* line 137, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap .about-right-cap2 {
       margin-bottom: 0px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 137, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap .about-right-cap2 {
       margin-bottom: 0px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 137, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap .about-right-cap2 {
       margin-bottom: 0px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 137, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-area .about-right-cap .about-right-cap2 {
       margin-bottom: 0px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 154, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_about.scss */
     .about-caption {
       margin-bottom: 35px;
     }
   }
   

/* line 2, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
.gallery-area {
     background:#969696;
   }
   
   /* line 4, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box {
     position: relative;
   }
   
   /* line 7, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .gallery-img {
     height: 565px;
     background-size: cover;
     background-repeat: no-repeat;
   }
   
   /* line 12, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .big-img {
     height: 900px;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 12, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
     .gallery-area .box .big-img {
       height: 435px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 12, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
     .gallery-area .box .big-img {
       height: 435px;
     }
   }
   
   /* line 21, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .small-img {
     height: 535px;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 21, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
     .gallery-area .box .small-img {
       height: 380px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 21, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
     .gallery-area .box .small-img {
       height: 335px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 21, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
     .gallery-area .box .small-img {
       height: 335px;
     }
   }
   
   /* line 35, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .overlay {
     position: absolute;
     text-align: center;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.3);
     top: 0;
     left: 0;
   }
   
   /* line 43, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .overlay .overlay-content {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 0;
     right: 0;
     margin: 0 auto;
   }
   
   /* line 50, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .overlay .overlay-content a {
     color:#969696;
     display: inline-block;
     text-align: center;
     font-size: 37px;
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
     transform: scale(1);
   }
   
   /* line 60, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box .overlay .overlay-content a:hover {
     transform: scale(1.08);
   }
   
   /* line 66, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .gallery-area .box.snake {
     position: relative;
     overflow: hidden;
   }
   
   /* line 73, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .box {
     position: relative;
   }
   
   /* line 75, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .box img {
     width: 100%;box-shadow:15px 15px 2vw grey
   }
   
   /* line 78, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .box.snake {
     position: relative;
     overflow: hidden;box-shadow:15px 15px 2vw grey;
   }
   
   /* line 83, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_gallery.scss */
   .overlay {
     position: absolute;
     text-align: center;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.3);
     top: 0;
     left: 0;
   }
   
   /* line 2, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
   .our-services .single-services {
     background: #fff;
     padding: 36px 46px 32px 54px;
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
   }
   

   .offset-xl-1{margin: 1vw;}
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 2, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
     .our-services .single-services {
       padding: 36px 14px 32px 19px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 2, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
     .our-services .single-services {
       padding: 36px 14px 32px 19px;
     }
   }
   
   /* line 12, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
   .our-services .single-services:hover {
     box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
   }
   
   /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
   .our-services .single-services .services-cap h5 {
     font-weight: 300;
     font-size: 30px;
     line-height: 1.4;
     margin-bottom: 24px;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
     .our-services .single-services .services-cap h5 {
       font-size: 24px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
     .our-services .single-services .services-cap h5 {
       font-size: 24px;
     }
   }
   
   /* line 29, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
   .our-services .single-services .services-cap p {
     font-size: 18px;
     font-weight: 300;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 29, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_my-expertiese.scss */
     .our-services .single-services .services-cap p {
       font-size: 15px;
     }
   }
   

   footer{background-color:#000000;}
/* line 909, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
.footer-padding {
     padding-top: 160px;
     padding-bottom: 50px;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 909, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .footer-padding {
       padding-top: 100px;
       padding-bottom: 70px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 909, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .footer-padding {
       padding-top: 80px;
       padding-bottom: 70px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 909, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_common.scss */
     .footer-padding {
       padding-top: 80px;
       padding-bottom: 0px;
     }
   }
   
/* line 2, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
.footer-wrappr {
     background: #965c10;
   }
   
   /* line 10, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper input {
     border: 1px solid #853023;
     height: 50px;
     width: 100%;
     padding: 10px 25px;
     padding-right: 25px;
     padding-right: 30px;
     color:#969696;
     font-weight: 400;
     text-transform: capitalize;
     border-radius: 0px;
     background: none;
   }
   
   /* line 22, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper input::placeholder {
     color:#969696;
   }
   
   /* line 25, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper input .list {
     width: 100%;
     border-radius: 0;
   }
   
   /* line 30, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper textarea {
     color:#f3f1f1;
     border: 1px solid #853023;
     font-weight: 500;
     letter-spacing: 0px;
     text-transform: capitalize;
     height: 180px;
     width: 100%;
     padding: 30px 50px;
     border-radius: 0px;
     background: none;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 30, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-wrappr .form-wrapper textarea {
       padding: 30px 26px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 30, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-wrappr .form-wrapper textarea {
       padding: 30px 26px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 30, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-wrappr .form-wrapper textarea {
       padding: 30px 26px;
     }
   }
   
   /* line 50, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper textarea::placeholder {
     color:#969696;
     font-size: 16px;
     font-weight: 300;
     transition: .4s;
   }
   
   /* line 57, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper .contact {
     border: 1px solid #eaedff;
     padding: 40px 10px;
   }
   
   /* line 60, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper .contact i {
     background: #8fb569;
     font-size: 40px;
     height: 150px;
     width: 150px;
     color: #ffffff;
     border-radius: 50%;
     line-height: 135px;
     border: 10px solid #fff;
     -webkit-box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
     box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
     margin-bottom: 30px;
   }
   
   /* line 73, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper .contact h3 {
     font-size: 26px;
     margin-bottom: 15px;
   }
   
   /* line 77, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper .contact p {
     margin: 0;
     padding: 0 50px;
   }
   
   /* line 82, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper input::-moz-placeholder,
   .footer-wrappr .form-wrapper input::-moz-placeholder {
     color:#fffbfb;
     font-size: 16px;
     font-weight: 300;
     transition: .4s;
   }
   
   /* line 89, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-wrappr .form-wrapper input:focus::-webkit-input-placeholder {
     opacity: 0;
     -webkit-transition: .4s;
     -o-transition: .4s;
     transition: .4s;
   }
   
   /* line 101, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-bottom-area .footer-border {
     padding: 50px 0px;
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 105, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-bottom-area .footer-copy-right {
       float: left;
     }
   }
   
   /* line 109, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-bottom-area .footer-copy-right p {
     color:#faf6f6;
     font-weight: 300;
     font-size: 14px;
     line-height: 2;
     margin-bottom: 0px;
   }
   
   /* line 115, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-bottom-area .footer-copy-right p i {
     color:#f7f7f7;
   }
   
   /* line 118, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-bottom-area .footer-copy-right p a {
     color:#fffcfc;
   }
   
   /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-social > a {
     color:#f7f7f7;
     width: 50px;
     height: 50px;
     font-size: 17px;
     line-height: 50px;
     display: inline-block;
     text-align: center;
     margin-right: 8px;
     background:#cc7d05;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-social > a {
       margin-right: 2px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-social > a {
       margin-bottom: 20px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-social > a {
       margin-bottom: 20px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-social > a {
       margin-right: 1px;
       margin-bottom: 20px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
     .footer-social > a {
       margin-right: 1px;
       margin-bottom: 20px;
     }
   }
   
   /* line 159, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-social > a > i {
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
     transform: rotateY(0deg);
     -webkit-transform: rotateY(0deg);
     -moz-transform: rotateY(0deg);
     -ms-transform: rotateY(0deg);
     -o-transform: rotateY(0deg);
   }
   
   /* line 169, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_footer.scss */
   .footer-social > a:hover i {
     transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
     -ms-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
   }
   

/* line 3, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
.home-blog-area {
     background: #f8fcff;
   }
   
   /* line 5, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single {
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
   }
   
   /* line 8, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-img {
     overflow: hidden;
     position: relative;
   }
   
   /* line 11, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-img img {
     width: 100%;
     -webkit-transform: scale 1;
     -moz-transform: scale 1;
     -ms-transform: scale 1;
     transform: scale 1;
     transition: all 0.3s ease-out 0s;
   }
   
   /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
     background: #fff;
     padding: 32px 29px 19px 33px;
     border: 1px solid #f7f7f7;
     border-top: 0;
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
       padding: 37px 23px 37px 45px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
       padding: 19px 8px 17px 18px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
       padding: 19px 8px 17px 18px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 17, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
       padding: 19px 8px 17px 18px;
     }
   }
   
   /* line 37, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-cap p {
     color: #707b8e;
   }
   
   /* line 41, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
     color: #191d34;
     font-size: 24px;
     font-weight: 700;
     line-height: 1.4;
     margin-bottom: 19px;
     display: block;
     text-transform: capitalize;
   }
   
   /* line 49, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a:hover {
     color: #965c10;
   }
   
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* line 41, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
       font-size: 20px;
     }
   }
   
   @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* line 41, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
       font-size: 23px;
     }
   }
   
   @media only screen and (min-width: 576px) and (max-width: 767px) {
     /* line 41, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
       font-size: 19px;
     }
   }
   
   @media (max-width: 575px) {
     /* line 41, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
       font-size: 19px;
     }
   }
   
   /* line 66, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn {
     color: #3a3a3a;
     text-transform: uppercase;
     font-size: 14px;
     font-family: "Poppins", sans-serif;
     color: #3a3a3a;
   }
   
   /* line 72, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn:hover {
     color: #014b85;
   }
   
   /* line 84, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-single:hover .blog-img-cap .blog-img img {
     -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
     -ms-transform: scale(1.04);
     transform: scale(1.04);
   }
   
   /* line 88, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .home-blog-single:hover .blog-img-cap .blog-cap {
     border-top: 0;
   }
   
   /* Start Blog Area css
   ============================================================================================ */
   /* line 100, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .latest-blog-area .area-heading {
     margin-bottom: 70px;
   }
   
   /* line 105, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .blog_area a {
     color: "Poppins", sans-serif !important;
     text-decoration: none;
     transition: .4s;
   }
   
   /* line 109, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .blog_area a:hover, .blog_area a :hover {
     background: -webkit-linear-gradient(131deg, #965c10 0%, #965c10 99%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-decoration: none;
     transition: .4s;
   }
   
   /* line 119, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog {
     overflow: hidden;
     margin-bottom: 30px;
   }
   
   /* line 123, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog:hover {
     box-shadow: 0px 10px 20px 0px rgba(42, 34, 123, 0.1);
   }
   
   /* line 127, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .thumb {
     overflow: hidden;
     position: relative;
   }
   
   /* line 131, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .thumb:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: #000;
     opacity: 0;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
   }
   
   /* line 144, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog h4 {
     border-bottom: 1px solid #dfdfdf;
     padding-bottom: 34px;
     margin-bottom: 25px;
   }
   
   /* line 151, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog a {
     font-size: 20px;
     font-weight: 600;
   }
   
   /* line 161, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .date {
     color: #666666;
     text-align: left;
     display: inline-block;
     font-size: 13px;
     font-weight: 300;
   }
   
   /* line 169, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .tag {
     text-align: left;
     display: inline-block;
     float: left;
     font-size: 13px;
     font-weight: 300;
     margin-right: 22px;
     position: relative;
   }
   
   /* line 179, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .tag:after {
     content: '';
     position: absolute;
     width: 1px;
     height: 10px;
     background: #acacac;
     right: -12px;
     top: 7px;
   }
   
   @media (max-width: 1199px) {
     /* line 169, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .single-blog .tag {
       margin-right: 8px;
     }
     /* line 193, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .single-blog .tag:after {
       display: none;
     }
   }
   
   /* line 199, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .likes {
     margin-right: 16px;
   }
   
   @media (max-width: 800px) {
     /* line 119, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .single-blog {
       margin-bottom: 30px;
     }
   }
   
   /* line 207, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .single-blog-content {
     padding: 30px;
   }
   
   /* line 211, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .single-blog-content .meta-bottom p {
     font-size: 13px;
     font-weight: 300;
   }
   
   /* line 216, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog .single-blog-content .meta-bottom i {
     color: #fdcb9e;
     font-size: 13px;
     margin-right: 7px;
   }
   
   @media (max-width: 1199px) {
     /* line 207, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .single-blog .single-blog-content {
       padding: 15px;
     }
   }
   
   /* line 230, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .single-blog:hover .thumb:after {
     opacity: .7;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
   }
   
   @media (max-width: 1199px) {
     /* line 238, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .single-blog h4 {
       transition: all 300ms linear 0s;
       border-bottom: 1px solid #dfdfdf;
       padding-bottom: 14px;
       margin-bottom: 12px;
     }
     /* line 244, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .single-blog h4 a {
       font-size: 18px;
     }
   }
   
   /* line 252, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .full_image.single-blog {
     position: relative;
   }
   
   /* line 255, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .full_image.single-blog .single-blog-content {
     position: absolute;
     left: 35px;
     bottom: 0;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
   }
   
   @media (min-width: 992px) {
     /* line 255, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
     .full_image.single-blog .single-blog-content {
       bottom: 100px;
     }
   }
   
   /* line 274, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .full_image.single-blog h4 {
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
     border-bottom: none;
     padding-bottom: 5px;
   }
   
   /* line 280, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .full_image.single-blog a {
     font-size: 20px;
     font-weight: 600;
   }
   
   /* line 290, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .full_image.single-blog .date {
     color: #fff;
   }
   
   /* line 295, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .full_image.single-blog:hover .single-blog-content {
     opacity: 1;
     visibility: visible;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
   }
   
   /* End Blog Area css
   ============================================================================================ */
   /* Latest Blog Area css
   ============================================================================================ */
   /* line 319, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .l_blog_item .l_blog_text .date {
     margin-top: 24px;
     margin-bottom: 15px;
   }
   
   /* line 323, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .l_blog_item .l_blog_text .date a {
     font-size: 12px;
   }
   
   /* line 329, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .l_blog_item .l_blog_text h4 {
     font-size: 18px;
     border-bottom: 1px solid #eeeeee;
     margin-bottom: 0px;
     padding-bottom: 20px;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
   }
   
   /* line 342, C:/Users/HP/Desktop/jun-2020/283.Personal/assets/scss/_blog_page.scss */
   .l_blog_item .l_blog_text p {
     margin-bottom: 0px;
     padding-top: 20px;
   }
   
   /* End Latest Blog Area css
   ============================================================================================ */